<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>친구목록</title>
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

</head>
<body>
	<h4>친구목록</h4>
<form th:action="@{'search'}" role="form" method="get" th:object="${Member}">	
<input type="text" class="form-control" placeholder="친구 검색(아이디/이름/전화번호)">
<button type="submit" class="btn btn-primary mb-2">검색</button>

	<table border="1">
		<thead>
			<tr>
				<td>NO</td>
				<td>ID</td>
				<td>이름</td>
				<td>전화번호</td>
				<td>생년월일</td>
				<td>성별</td>
				<td>이메일</td>
				<td>그룹</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="friends, status: ${friends}">
				<td th:text="${status.index}"></td>
				<td th:text="${friends.id}"></td>
				<td th:text="${friends.name}"></td> <!--이름 선택 시 상세보기 모달 설정 -->
				<td th:text="${friends.mobile}"></td>
				<td th:text="${friends.birth}"></td>
				<td th:text="${friends.gender}"></td>
				<td th:text="${friends.email}"></td>
				<td th:text="${friends.group}"></td>				
			</tr>
		</tbody>
	</table>
</form>
</body>
</html>