<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="sidebar">
   <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav">
            <li class="border-top border-bottom"><a href="#">회원관리</a></li>
            <li class="border-top border-bottom"><a href="#">공지사항관리</a></li>
            <li class="border-top border-bottom"><a href="#">커뮤니티관리</a></li>
            <li class="border-top border-bottom"><a href="#">건의사항관리</a></li>
            <li class="border-top border-bottom"><a href="#">신고관리</a></li>
         </ul>
      </div>
      <!-- /#sidebar-wrapper -->
   </div>
</div>
</html>