<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="sidebar">
   <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
         <ul class="sidebar-nav">
            <li class="border-top border-bottom"><a href="/AliceDiary/admin/suggestion">건의사항 관리</a></li>
            <li class="border-top border-bottom"><a href="/AliceDiary/admin/reports">신고 관리</a></li>
         </ul>
      </div>
      <!-- /#sidebar-wrapper -->
   </div>
</div>
</html>