<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<!-- <button id="openModal" onclick="openModal()">친구 추가</button>
 --><div th:fragment="sidebar">
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="border-top border-bottom"><a href="#" onclick="openModal()">친구 추가</a></li>
				<li class="border-top border-bottom"><a href="#">그룹 추가</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->
	</div>
</div>
</html>