<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="sidebar">
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="border-top border-bottom"><a th:href="'/AliceDiary/messagebox/' + ${#authentication.name}">쪽지 보내기</a></li>
				<li class="border-top border-bottom"><a href="#" th:onclick="changeGroup([[${#authentication.name}]])">그룹 변경</a></li>
				<li class="border-top border-bottom"><a href="#" th:onclick="deleteFriend([[${#authentication.name}]])">친구 삭제</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->
	</div>
</div>
</html>