<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="msgSidebar">
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="border-top border-bottom"><a
					th:href="'/AliceDiary/messagebox/' + ${#authentication.name}">쪽지함</a>
				</li>
				<li class="border-top border-bottom"><a
					th:href="'/AliceDiary/messagebox/pictures/' + ${#authentication.name}">사진</a>
				</li>
				<li class="border-top border-bottom"><a
					th:href="'/AliceDiary/messagebox/docs/' + ${#authentication.name}">문서</a>
				</li>
				<!-- 				<li class="border-top border-bottom"> -->
				<!-- 					<a th:href="'/AliceDiary/messagebox/links/' + ${#authentication.name}">링크</a> -->
				<!-- 				</li> -->
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->
	</div>
</div>
</html>