<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="msgSidebar">
	<div id="wrapper" class="toggled">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="border-top border-bottom"><a href="#">사진/영상</a></li>
				<li class="border-top border-bottom"><a href="#">파일</a></li>
				<li class="border-top border-bottom"><a href="#">링크</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->
	</div>
</div>
</html>