<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<div th:fragment="sidebar" class="col-2 h-100 pt-5 pb-5">
	<div class="border-right pr-3 h-100">
		<div class="text-right pb-3">
			<input type="button" onclick="location.href='/AliceDiary/community/create'"
				value="커뮤니티 추가하기" class="btn btn-md">
		</div>
		<ul id="mySideMenu" class="p-0">
			<th:block th:each="hostCom : ${hostComs}"
				th:if="${#authentication.name} == ${hostCom.member.id}">
				<li class="text-center border-bottom pt-2 pb-2 list-unstyled"><a
					class="text-dark" th:href="@{|/community/${hostCom.num}/list|}"
					th:text="${hostCom.name}"></a></li>
			</th:block>
			<th:block th:each="myCom : ${myComList}">
				<li class="text-center border-bottom pt-2 pb-2 list-unstyled"><a
					class="text-dark" th:href="@{|/community/${myCom.num}/list|}"
					th:text="${myCom.name}"></a></li>
			</th:block>
		</ul>
	</div>
</div>
</html>