<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/myCommunityLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/community/communityList.js}"></script>

</th:block>

<div layout:fragment="content">
	<div style="height: 15%;">
		<h2 class="text-center m-0 pt-4">
			#
			<th:block th:text="${comName}"></th:block>
			<a th:if="${#authentication.name} == ${hostMemId}"
				th:href="@{|/community/${comNum}/manage|}" class="btn"> <img
				th:src="@{/img/comMng.png}" style="width: 20px;"></a>

		</h2>
		<h5 class="text-center" th:text="${comDescription}"></h5>
	</div>

	<div class="d-flex justify-content-center" style="height: 13%;">
		<div class="d-flex align-items-center"
			style="border: 2px solid #dccae9; border-radius: 25px; width: 70%;">
			<div class="w-100 d-flex justify-content-center">
				<form th:action="@{|/community/${comNum}/list|}" method="get"
					style="width: 70%;" class="d-flex justify-content-center"
					modelAttribute="postSearchDto">
					<select name="type" class="form-control" style="width: 35%;">
						<option value="title">제목</option>
						<option value="content">내용</option>
						<option value="writer">작성자</option>
					</select> <input type="text" name="keyword" style="width: 50%;"
						class="form-control" placeholder="검색어를 입력해주세요">
					<button type="submit" class="btn">검색</button>
				</form>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center" style="height: 72%;">
		<div class="pt-3 pb-3" style="width: 80%; height: 95%;">
			<div class='text-right'>
				<a th:if="${postSearchDto.keyword != null}"
					th:href="@{|/community/${comNum}/list|}"><input type="button"
					class="btn" value="전체목록"></a> <a
					th:href="@{|/community/${comNum}/post|}"><input type="button"
					class="btn" value="글쓰기"></a>
				<th:block th:each="member : ${memberList}">
					<a th:if="${#authentication.name} == ${member}"> <input
						type="button"
						th:onclick="resign([[${comNum}]],[[${#authentication.name}]])"
						class="btn btn-danger" value="탈퇴하기"></a>
				</th:block>

			</div>
			<table class="w-100 table table-striped table-hover">
				<thead>
					<tr class="text-center">
						<th>No</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
				</thead>
				<th:block th:if="${endPage} == 0">
					<tbody class="text-center">
						<tr>
							<td colspan="5">게시글이 없습니다</td>
						</tr>
					</tbody>
				</th:block>
				<th:block th:unless="${endPage == 0}">
					<tbody class="text-center">
						<tr th:each="post, status: ${list}">
							<td th:text="${size - status.index-(nowPage-1)*list.size}" />
							<td><a th:text="${post.title}"
								th:href="@{|/community/${comNum}/get/${post.num}|}"></a></td>
							<td th:text="${post.member.name}"></td>
							<td
								th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd HH:mm')}"></td>
							<td th:text="${post.viewCnt}"></td>
						</tr>
					</tbody>
				</th:block>
			</table>
			<div class="d-flex justify-content-center">
				<nav aria-label="Page navigation example" th:if="${endPage != 0}">
					<ul class="pagination pagination-sm">
						<li class="page-item"><a class="page-link"
							th:href="@{|/community/${comNum}/list?(page=${startPage-1})|}"
							style="color: purple;" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
						</a></li>
						<th:block
							th:each="page : ${#numbers.sequence(startPage, endPage)}">
							<li class="page-item"><a class="page-link"
								style="color: purple;"
								th:if="${page != nowPage} and ${type} != null and ${keyword} != null"
								th:href="@{|/community/${comNum}/list?(page=${page-1},type=${type},keyword=${keyword})|}"
								th:text="${page}"></a></li>
							<li class="page-item"><a class="page-link"
								style="color: purple;"
								th:if="${page != nowPage} and ${type} == null and ${keyword} == null"
								th:href="@{|/community/${comNum}/list?(page=${page-1})|}"
								th:text="${page}"></a></li>

							<li class="page-item"><a class="page-link"
								style="background: #e0c6f2; color: purple;"
								th:if="${page == nowPage} and ${type} != null and ${keyword} != null"
								th:href="@{|/community/${comNum}/list?(page=${page-1},type=${type},keyword=${keyword})|}"
								th:text="${page}"></a></li>
							<li class="page-item"><a class="page-link"
								style="background: #e0c6f2; color: purple;"
								th:if="${page == nowPage} and ${type} == null and ${keyword} == null"
								th:href="@{|/community/${comNum}/list?(page=${page-1})|}"
								th:text="${page}"></a></li>

						</th:block>
						<li class="page-item"><a class="page-link"
							th:href="@{|/community/${comNum}/list?(page=${endPage-1})|}"
							style="color: purple;" aria-label="Next"> <span
								aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
						</a></li>
					</ul>
				</nav>
			</div>

		</div>
	</div>
</div>
</html>