<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/communityLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/community/createCommunity.js}"></script>
	<!-- <script th:src="@{https://code.jquery.com/jquery-1.12.4.js}"></script> -->
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js}"></script>
</th:block>


<th:block layout:fragment="css">
	<!-- bootstrap-select -->
	<link rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css}">
</th:block>

<div layout:fragment="content">


	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-12 h-100">
				<h2 class="text-center m-0 pt-5" style="height: 15%;">커뮤니티 생성하기</h2>


				<form th:action="@{/community/create}" method="post" id="form"
					th:object="${ccdto}">

					<select class="selectpicker" data-live-search="true"
						th:field="*{comMembers}" multiple required>
						<th:block th:if="${ccdto.friendsList == null || #lists.size(ccdto.friendsList) == 0}">
							<option value="">친구를 추가해보세요!</option>
						</th:block>
						<th:block th:unless="${ccdto.friendsList == null || #lists.size(ccdto.friendsList) == 0}">
							<option th:each="f : ${ccdto.friendsList}" th:value="${f.id}"
								th:text="${f.name}"></option>
						</th:block>
					</select>



					<div>
						커뮤니티 이름<input type="text" th:field="*{comName}">
					</div>
					<div>
						커뮤니티 설명
						<textarea type="text" th:field="*{description}" cols="10" rows="5"></textarea>
					</div>

					<input type="submit" th:onclick="return check()" value="커뮤니티 만들기">

				</form>

				<div>
					<th:block th:each="hostCom : ${hostComs}"
						th:if="${#authentication.name} == ${hostCom.member.id}">
						<ul>
							<li><a th:href="@{|/community/${hostCom.num}/list|}"
								th:text="${hostCom.name}"></a></li>
						</ul>
					</th:block>
					<th:block th:each="myCom : ${myComList}">
						<ul>
							<li><a th:href="@{|/community/${myCom.num}/list|}"
								th:text="${myCom.name}"></a></li>
						</ul>
					</th:block>
				</div>

			</div>
		</div>
	</div>


</div>
</html>