<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/communityLayout}">

<div layout:fragment="content">

	<h2>공개게시판</h2>

	<form th:action="@{/community/list}" method="get"
		modelAttribute="postSearchDto">
		<select name="type">
			<option value="title">제목</option>
			<option value="content">내용</option>
			<option value="writer">작성자</option>
		</select> <input type="text" name="keyword" placeholder="검색어를 입력해주세요">
		<button type="submit">검색</button>
	</form>
	<div>
		<table border="1">
			<thead>
				<tr>
					<td>번호</td>
					<td>제목</td>
					<td>작성자</td>
					<td>작성일</td>
					<td>조회수</td>
				</tr>
			</thead>
			<th:block th:if="${endPage} == 0">
				<tbody>
					<tr>
						<td colspan="5">게시글이 없습니다</td>
					</tr>
				</tbody>
			</th:block>
			<th:block th:unless="${endPage == 0}">
				<tbody>
					<tr th:each="post, status: ${list}">
						<!-- <td th:text="${poststat.index}"></td> -->
						<td th:text="${size - status.index-(nowPage-1)*list.size}" />
						<td><a th:text="${post.title}"
							th:href="@{/community/get(num=${post.num})}"></a></td>
						<td th:text="${post.member.id}"></td>
						<td
							th:text="${#temporals.format(post.postDate, 'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${post.viewCnt}"></td>
					</tr>
				</tbody>
			</th:block>
		</table>

		<div th:if="${endPage != 0}">
			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
				<a th:if="${page != nowPage}"
					th:href="@{/community/list(page=${page-1})}" th:text="${page}"></a>
				<strong th:if="${page == nowPage}" th:text="${page}"
					style="color: red"></strong>
			</th:block>
		</div>

		<a th:href="@{/community/post}"><input type="button" value="글쓰기"></a>
		<a th:if="${postSearchDto.keyword != null}"	th:href="@{/community/list}"><input type="button" value="목록"></a>
		
	</div>
</div>
</html>