<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/myCommunityLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/community/manageCommunity.js}"></script>
</th:block>

<div layout:fragment="content">
	<h2 class="text-center m-0 pt-5" style="height: 15%;">
		커뮤니티 관리 <span class="text-primary"># </span><span class="text-primary"
			th:text="${manageCom.comName}"></span>
	</h2>

	<form th:action="@{|/community/${comNum}/manage|}" method="post"
		class="h-75 text-center d-flex justify-content-center w-100" id="form"
		th:object="${manageCom}">
		<div class="w-75 pt-3">
			<table class="table w-100">
				<tr>
					<th>커뮤니티 이름</th>
					<td><input type="text" th:field="*{comName}"
						class="form-control"></td>
					<th>우리 커뮤니티 회원</th>
				</tr>
				<tr>
					<th>커뮤니티 설명</th>
					<td><textarea type="text" th:field="*{description}" cols="10"
							rows="9" class="form-control" style="resize: none;"></textarea></td>
					<th:block th:if="${comMembers != null}">
						<td>
							<ul>
								<li th:each="member : ${comMembers}" th:text="${member}"></li>
							</ul>
						</td>

					</th:block>
					<th:block th:unless="${comMembers != null}">
						<td>커뮤니티 멤버가 없습니다!😢</td>
					</th:block>
				</tr>
			</table>

			<input type="submit" th:onclick="return check()" class="btn"
				value="저장">
			<button th:onclick="deleteCommunity([[${comNum}]])" class="btn">삭제</button>
			<input type="button" onClick="history.go(-1)" value="취소" class="btn">
		</div>
	</form>
</div>
</html>