<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alice</title>
</head>
<body>
	<div id="sidemenu"
		style="width: auto; height: 700px; border: 1px solid purple; float: left; padding: 0px 10px 0px 0px; margin: 0px 20px 0px 0px;">
		<ul id="community">
			<li class="sidemenu"><a href="#">공개게시판</a></li>
			<li class="sidemenu"><a href="#">*생성커뮤니티 메뉴*</a></li>
			<li class="sidemenu"><a href="#">컨텐츠</a></li>
			<li class="sidemenu"><a href="#">커뮤니티만들기</a></li>
		</ul>
	</div>
	<div style="float: left;">
		<h3>게시글 상세보기</h3>
		<table border="1" width="300">
			<tr>
				<th th:text="${postView.title}"></th>
			</tr>
			<tr>
				<td>작성자 
					<div align="right" th:if="${postView.updateDate != null}"
						th:text="${#temporals.format(postView.postDate, 'yyyy-MM-dd HH:mm')}"></div>
					<div align="right" th:if="${postView.updateDate == null}"
						th:text="${#temporals.format(postView.postDate, 'yyyy-MM-dd HH:mm')}+ '   (수정일자:'+${#temporals.format(postView.updateDate, 'yyyy-MM-dd HH:mm')}+')'"></div>
				</td>
			<tr>
				<td><div th:text="${postView.content}" style="padding: 10px; height: auto; min-height: 100px; overflow: auto;"></div></td>
			</tr>
			<tr>
				<td>첨부파일: <div th:if="${fileView.originName != null}" >
							<a th:href="|/AliceDiary/community/download/${fileView.num}|" th:text="${fileView.originName}"></a>
							</div>
							<div th:if="${fileView.originName == null}">첨부파일 없음.</div>
				</td>
			</tr>
			
		</table>
	<div align="left" th:href="@{/AliceDiary/community/list}"><input type="button" value="신고"></div>
	<div align="right">
		<a th:href="@{/AliceDiary/community/list}"><input type="button" value="수정"></a> 
		<a th:href="@{/AliceDiary/community/list}"><input type="button" value="삭제"></a> 
		<a th:href="@{/AliceDiary/community/list}"><input type="button" value="목록"></a>
	</div>
	</div>

</body>
</html>