<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alice</title>

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
</head>
<body>
	<div id="sidemenu"
		style="width: auto; height: 700px; border: 1px solid purple; float: left; padding: 0px 10px 0px 0px; margin: 0px 20px 0px 0px;">
		<ul id="community">
			<li class="sidemenu"><a href="#">공개게시판</a></li>
			<li class="sidemenu"><a href="#">*생성커뮤니티 메뉴*</a></li>
			<li class="sidemenu"><a href="#">컨텐츠</a></li>
			<li class="sidemenu"><a href="#">커뮤니티만들기</a></li>
		</ul>
	</div>
	<div style="float: left;">
		<h2>글 수정하기</h2>
		<!-- 		<form th:action="@{/AliceDiary/community/put(num=${getUpdate.num})}"
			th:object="${updateDto}" method="post"> -->
		<form th:action="@{/AliceDiary/community/put}" th:object="${updateDto}" method="post" enctype="multipart/form-data">
			<table border="1">
				<tr>
					<td>제목</td>
					<td><input type="text" name="title" th:field="*{title}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea name="content" cols="auto" rows="auto"
							th:field="*{content}"></textarea></td>
				</tr>
			</table>

			<div id="fileBox">
				<p th:each="file : ${files}">
					첨부파일: <a th:href="|/AliceDiary/community/download/${file.num}|"
						th:text="${file.originName}"></a> <input type="button"
						id="delete_file" th:value="파일삭제"
						th:onclick="deleteFile(${file.num})">
				</p>
			</div>
			<div>
				파일첨부<input type="file" th:field="*{originName}" multiple>
			</div>
			<div>
				<input type="submit" value="수정"> <input type="button"
					onClick="history.go(-1)" value="취소">
			</div>
			<input type="hidden" th:field="*{num}">

		</form>
		<!--	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  -->
		<script type="text/javascript">
			//		$("#delete").on("click", function() {
			//			var frm = $("#frm")[0];
			//		frm.action = "deleteFile";
			//	frm.submit();
			//			});

			function deleteFile(fileNum) {
				let token = $("meta[name='_csrf']").attr("content");
				let header = $("meta[name='_csrf_header']").attr("content");
				let httpRequest = new XMLHttpRequest();

				httpRequest.onreadystatechange = function() {
					if (httpRequest.readyState === XMLHttpRequest.DONE) {
						if (httpRequest.status === 200) {
							window.location = "alice";
						} else {
							alert('request에 뭔가 문제가 있어요.');
						}
					}
				};

				//POST로 요청
				httpRequest.open('POST', "deleteFile", true);
				httpRequest.setRequestHeader(header, token);
				httpRequest.setRequestHeader('Content-type',
						'application/x-www-form-urlencoded');
				httpRequest.send("fileNum=" + fileNum);
			}
		</script>
	</div>


</body>
</html>