<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/communityLayout}">

<div layout:fragment="content">


	<h2>글쓰기</h2>
	<form th:action="@{/community/post}" method="post"
		th:object="${writeFormDto}" enctype="multipart/form-data">
		<table border="1">
			<tr>
				<td>제목</td>
				<td><input type="text" th:field="*{title}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea th:field="*{content}" cols="80" rows="25"></textarea></td>
			</tr>
			<tr>
				<td>파일첨부</td>
				<td><input type="file" th:field="*{originName}" multiple>
			</tr>
		</table>
		<input type="submit" value="작성"> <a
			th:href="@{/community/list}"><input type="button"
			value="취소"></a>
	

	</form>

</div>
</html>