<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/communityLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/community/writeForm.js}"></script>
</th:block>

	<div layout:fragment="content">
		<h2 class="text-center m-0 pt-5" style="height: 15%;">글쓰기</h2>
		<div class="container-fluid pl-5 pr-5" style="height: 85%;">
			<div class='row mt-3 ml-5 mr-5' style="height: 90%;">
				<div class="col-12">
					<form th:action="@{/community/post}" method="post" id="form" 
						th:object="${writeFormDto}" enctype="multipart/form-data"
						class="h-100">
						<table class="table w-100">
							<tr>
								<th>제목</th>
								<td><input type="text" class="form-control"
									th:field="*{title}"></td>
							</tr>
							<tr>
								<th>내용</th>
								<td><textarea th:field="*{content}" class="form-control"
										rows="10"></textarea></td>
							</tr>
							<tr>
								<th>파일첨부</th>
								<td><input type="file" th:field="*{originName}" onchange="fileCnt(this)" multiple>
							</tr>
						</table>
						<div class="text-center">
							<input type="submit" class="btn btn-secondary" value="작성" 
									th:onclick="return check()">
							<button type="button" onClick="location.href='./list'"
								class="btn">취소</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</html>