<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/adminCommunityLayout}">

<div layout:fragment="content">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-12 h-100">
				<h2 class="text-center m-0 pt-5" style="height: 15%;">개별게시판</h2>
				<h5 class="text-center m-0 pt-5" style="height: 20%;">앨리스 다이어리
					회원님들의 커뮤니티를 관리하는 곳입니다.</h5>
				<div class="d-flex justify-content-center" style="height: 13%;">
					<div class="d-flex align-items-center"
						style="border: 2px solid #dccae9; border-radius: 25px; width: 70%;">
						<div class="w-100 text-center">
							<form name="searchForm" id="searchForm"
								th:action="@{/admin/community/list}" th:method="get"
								th:object="${postSearchDto}">
								<select name="type">
									<option value="comNum">커뮤니티번호</option>
									<option value="name">커뮤니티명</option>
									<option value="creator">생성자 닉네임</option>
								</select> <input type="text" name="keyword" id="keyword"
									placeholder="커뮤니티명을 입력해주세요">
								<button type="submit">검색</button>
							</form>
						</div>
					</div>
				</div>
				<!--/* 게시글 영역 */-->
				<div class="d-flex justify-content-center" style="height: 72%;">
					<div class="pt-3 pb-3" style="width: 80%; height: 95%;">
						<div class='text-right'>
							<a th:if="${postSearchDto.keyword != null}"
								th:href="@{/admin/community/list}"> <input type="button"
								class="btn" value="전체목록">
							</a>
						</div>
						<table class="w-100 table table-striped table-hover">
							<thead>
								<tr class="text-center">
									<th>No.</th>
									<th>커뮤니티번호</th>
									<th>커뮤니티명</th>
									<th>커뮤니티생성자</th>
									<!-- 									<th>커뮤니티 소속멤버리스트</th> -->
								</tr>
							</thead>
							<th:block th:if="${endPage} == 0">
								<tbody class="text-center">
									<tr>
										<td colspan="4">커뮤니티 목록이 비었습니다!</td>
									</tr>
								</tbody>
							</th:block>
							<!--/* 게시글 리스트 Rendering 영역 */-->
							<th:block th:unless="${endPage == 0}">
								<tbody class="text-center">
									<tr th:each="community, status: ${list}">
										<td th:text="${size - status.index-(nowPage-1)*list.size}" />
										<td th:text="${community.num}"></td>
										<td><a th:text="${community.name}"
											th:href="@{|/admin/community/${community.num}/list|}"></a></td>
										<td><a th:text="${community.member.name}"
											th:href="@{|/admin/member/${community.member.id}|}"></a></td>
									</tr>
								</tbody>
							</th:block>
						</table>
						<div class="d-flex justify-content-center">
							<nav aria-label="Page navigation example" th:if="${endPage != 0}">
								<ul class="pagination pagination-sm">
									<li class="page-item"><a class="page-link"
										th:href="@{/admin/community/list(page=${startPage-1})}"
										style="color: purple;" aria-label="Previous"> <span
											aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span>
									</a></li>
									<th:block
										th:each="page : ${#numbers.sequence(startPage, endPage)}">
										<li class="page-item"><a class="page-link"
											style="color: purple;"
											th:if="${page != nowPage} and ${type} != null and ${keyword} != null"
											th:href="@{/admin/community/list(page=${page-1},type=${type},keyword=${keyword})}"
											th:text="${page}"></a></li>
										<li class="page-item"><a class="page-link"
											style="color: purple;"
											th:if="${page != nowPage} and ${type} == null and ${keyword} == null"
											th:href="@{/admin/community/list(page=${page-1})}"
											th:text="${page}"></a></li>

										<li class="page-item"><a class="page-link"
											style="background: #e0c6f2; color: purple;"
											th:if="${page == nowPage} and ${type} != null and ${keyword} != null"
											th:href="@{/admin/community/list(page=${page-1},type=${type},keyword=${keyword})}"
											th:text="${page}"></a></li>
										<li class="page-item"><a class="page-link"
											style="background: #e0c6f2; color: purple;"
											th:if="${page == nowPage} and ${type} == null and ${keyword} == null"
											th:href="@{/admin/community/list(page=${page-1})}"
											th:text="${page}"></a></li>
									</th:block>
									<li class="page-item"><a class="page-link"
										th:href="@{/admin/community/list(page=${endPage-1})}"
										style="color: purple;" aria-label="Next"> <span
											aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
									</a></li>
								</ul>
							</nav>
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</html>