<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/noticeLayout}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content">

	<div th:align="center">
		<h1>회원목록</h1>
		<h3>전체 회원들의 상세정보를 볼 수 있습니다.</h3>	
	</div>
	
	<!--/* 검색 영역 */-->
	<div class="row">
		<form name="searchForm" id="searchForm" modelAttribute="searchDto" th:method="get" >
			<select id="type" name="type" class="form-control" onchange="changeSelect()">
				<option value="">카테고리 선택</option>
				<option value="num">회원번호</option>
				<option value="id">아이디</option>
				<option value="name">이름</option>
				<option value="mobile">전화번호</option>
				<option value="reportCnt">신고 누적횟수</option>
				<option value="status">회원상태</option>
			</select> 
			
			<input type="text" id="keyword" name="keyword" class="col-5" placeholder="카테고리 선택 후 검색해주세요." />
<!-- 			<div id="selectStatus" style="display:none;"> -->
<!-- 			 <select class="form-control" th:field="*{status}"> -->
<!--                   <option th:each="statusValue : ${T(com.alice.project.domain.Status).values()}" -->
<!--                     th:value="${statusValue.name()}" -->
<!--                     th:text="${statusValue.name()}"> -->
<!--                     </option> -->
<!--                 </select> -->
<!-- 			</div> -->
			<button type="submit" class="btn btn-primary" id="btn_search">검색</button>
		</form>
	</div>

	<!--/* 게시글 영역 */-->
	<div class="container">
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>No.</th>
						<th>회원번호</th>
						<th>아이디</th>
						<th>이름</th>
						<th>전화번호</th>
						<th>이메일</th>
						<th>신고 누적횟수</th>
						<th>회원상태</th>
						<th>내보내기</th>
					</tr>
				</thead>
				<th:block th:if="${endPage} == 0">
					<tbody>
						<tr>
							<td colspan="5">회원목록이 비었습니다!</td>
						</tr>
					</tbody>
				</th:block>
				<!--/* 게시글 리스트 Rendering 영역 */-->
				<tbody align="center" th:unless="${endPage == 0}">
					<tr th:each="member, stat: ${members}">
						<td th:text="${size - stat.index-(nowPage-1)*members.size}"></td>
						<td th:text="${member.num}"></td>
						<td><a th:href="@{'/admin/member/'+${member.id}}"> <span
								th:text="${member.id}"></span>
						</a></td>
						<td th:text="${member.name}"></td>
						<td th:text="${member.mobile}"></td>
						<td th:text="${member.email}"></td>
						<td th:text="${member.reportCnt}"></td>
						<td th:text="${member.status}"></td>
						<td>
							<button
								th:if="${member.getStatus().toString().equals('USER_IN')}"
								th:onclick="deleteMember([[${member.num}]])" type="button">내보내기</button>
							<button
								th:unless="${member.getStatus().toString().equals('USER_IN')}"
								th:onclick="returnMember([[${member.num}]])" type="button">복구하기</button>
						</td>
					</tr>
				</tbody>
			</table>
			<!--/* 페이징처리 영역 */-->
				<div th:if="${endPage != 0}">
					<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
						<a th:if="${page != nowPage} and ${type} != null and ${keyword} != null"
							th:href="@{/admin/member(page=${page-1},type=${type},keyword=${keyword})}" th:text="${page}"></a>
						<a th:if="${page != nowPage} and ${type} == null and ${keyword} == null"
							th:href="@{/admin/member(page=${page-1})}" th:text="${page}"></a>
						<strong th:if="${page == nowPage}" th:text="${page}"
							style="color: red"></strong>
					</th:block>
				</div>	
		</div>
	</div>
</div>
<th:block layout:fragment="script">

	<script th:src="@{https://code.jquery.com/jquery-1.11.3.js}"></script>
	<script th:src="@{/js/admin/memberList.js}"></script>

</th:block>
</html>