<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/adminLayout}">

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/admin/memberDetail.js}"></script>
	<script th:src="@{https://code.jquery.com/jquery-1.11.3.js}"></script>
</th:block>

<div layout:fragment="content">

	<h1 th:text="${person.name} + '님의 회원정보'" class="pt-4" align="center"></h1>

	<!--/* 회원상세보기 영역 */-->
	<div class="row justify-content-center">
		<div class="col-4">
			<p class="text-center">
				<img th:src="@{/upload/profile/}+@{${person.profileImg}}" alt="user"
					width="60%" class="rounded-circle">
			</p>
			<p>
				아이디<input type="text" class="form-control" th:value="${person.id}"
					readonly>
			</p>

			<p>
				닉네임 <input type="text" class="form-control"
					th:value="${person.name}" readonly>
			</p>
		</div>
		<div class="col-5">
			<p class="d-flex align-items-center">
				<span class="text-center w-25">회원번호</span> <input type="text"
					class="form-control w-75" th:value="${person.num}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">성별</span> <input type="text"
					class="form-control w-75" th:value="${person.gender}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">생년월일</span> <input type="date"
					class="form-control w-75" th:value="${person.birth}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">전화번호</span> <input type="text"
					class="form-control w-75" th:value="${person.mobile}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">이메일</span> <input type="text"
					class="form-control w-75" th:value="${person.email}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">MBTI</span> <input type="text"
					class="form-control w-75" th:value="${person.mbti}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">신고 누적횟수</span> <input type="text"
					class="form-control w-75" th:value="${person.reportCnt}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">가입일자</span> <input type="date"
					class="form-control w-75" th:value="${person.regDate}"
					readonly="readonly">
			</p>
			<p class="d-flex align-items-center">
				<span class="text-center w-25">회원상태</span> <input type="text"
					class="form-control w-75" th:value="${person.status}"
					readonly="readonly">
			</p>
			<button th:if="${person.getStatus().toString().equals('USER_OUT') || person.getStatus() == null}"
				class="btn btn-dark"
				type="button">탈퇴상태</button> <!-- th:onclick="returnMember([[${person.num}]])" -->
			<button th:if="${person.getStatus().toString().equals('ADMIN')}"
				class="btn btn-dark" type="button">관리자</button>
			</p>

		</div>
	</div>
</div>
</html>