<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/adminCommunityLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/admin/postView.js}"></script>
</th:block>
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/admin/openView.css}">
</th:block>

<div layout:fragment="content">
	<h3 class="text-center m-0 pt-5" style="height: 15%;">게시글 상세보기</h3>
	<!-- 게시물 내용 -->
	<div class="container-fluid pl-5 pr-5" style="height: 85%;">
		<div class='row ml-5 mr-5' style="height: 80%;">
			<div class="col-6 h-100 border">
				<div class="h-25 d-flex justify-content-center"
					style="flex-direction: column;">
					<h3 th:text="${postView.title}"></h3>
					<div class="d-flex justify-content-between">
						<span th:text="${postView.member.name}"></span><span
							th:text="${#temporals.format(postView.postDate, 'yyyy-MM-dd HH:mm')}"></span>
						<span th:if="${postView.updateDate != null}"
							style="color: grey; font-size: 15px;"
							th:text="'(수정일자:'+${#temporals.format(postView.updateDate, 'yyyy-MM-dd HH:mm')}+')'"></span>
					</div>
				</div>
				<div
					class="border-top border-bottom d-flex justify-content-between pt-2 pb-2"
					style="flex-direction: column; height: 60%;">
					<div style="overflow-y: scroll; height: 90%;"><pre style="font-family:alice;" th:text="${postView.content}"></pre></div>
					<div>
						<div th:each="file : ${files}" th:if="${file.originName != null}">
							첨부파일: <a th:href="|./download/${file.num}|"
								th:text="${file.originName}"></a>
						</div>
					</div>
				</div>
				<!-- 게시물 메뉴 -->
				<div class="text-right" id="btnBox">
					<th:block>
						<button type="button" id="delete_confirm"
							th:onclick="deleteConfirm([[${postView.num}]])" class="btn">게시물
							내리기</button>
						<button type="button" onclick="location.href='./list'"
							class="btn btn-secondary">목록</button>
					</th:block>
				</div>
			</div>
			<div class='col-6 h-100 border p-0'>
				<div class="card h-100">
					<div class="card-body h-100 blog-comment">
						<div id="replyList" style="overflow-y: scroll; height: 90%;">
							<th:block th:each="reply : ${replyList}">
								<ul
									th:id="${reply.parentRepNum} == null ? |parentRepContentTable${reply.num}| : |childRepContentTable${reply.num}| "
									th:class="${reply.parentRepNum} == null ? 'comments pt-2' : childComments ">

									<th:block th:if="${reply.status.name() == 'DEAD'}">
										<li class="clearfix">삭제된 댓글입니다.</li>
									</th:block>
									<th:block th:unless="${reply.status.name() == 'DEAD'}">
										<img th:src="@{/upload/profile/}+@{${reply.profileImg}}"
											alt="" class="avatar">
										<div class="post-comments">
											<p class="meta">
												<span>&nbsp;<span style="color: black;"
													th:text="${reply.memberName}"></span>&nbsp;<span
													th:text="${#temporals.format(reply.repDate, 'yyyy-MM-dd HH:mm')}"></span>
												</span> <span> <span th:if="${reply.parentRepNum} == null">
														<button type="button" class="btn btn-sm"
															th:onclick="|showReplyBox(replyReplyBox${reply.num})|">답글</button>
												</span> <span><button type="button" class="btn btn-sm"
															th:onclick="${reply.parentRepNum} == null ? |deleteParent(${reply.num})| : |deleteChild(${reply.num})| ">내리기</button>
												</span>
												</span>
											</p>
											<p style="font-size: small;" class="m-0 pb-2">
												<span style="word-break: break-all;"
													th:text="${reply.content}"></span>
											</p>
										</div>

										<li th:if="${reply.parentRepNum} == null"
											th:id="|replyReplyBox${reply.num}|" style="display: none;"><div class="d-flex">
												<span> <input type="text" placeholder="댓글을 입력해주세요"
													class="form-control rounded-0 border-2 bg-light"
													 th:id="|replyReplyContent${reply.num}|"
													required></span> <span><button type="button"
														class="btn "
														th:onclick="replyReply([[${postView.num}]],[[${reply.num}]],[[${#authentication.name}]], 
                     replyReplyBox[[${reply.num}]], replyReplyContent[[${reply.num}]], parentRepContentTable[[${reply.num}]])">등록</button></span>
											</div></li>

									</th:block>
								</ul>
						</div>

						<div class="card-footer commentBox d-flex">
							<input type="text" placeholder="댓글을 입력해주세요" id="replyContent"
								class="form-control rounded-0 border-2 bg-light"
								style="width: 85%;" required>
							<button type="button" class="btn btn-secondary"
								style="width: 15%;"
								th:onclick="replySubmit([[${postView.num}]],[[${#authentication.name}]])">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>