.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {s
	opacity: 1;
}

/* #calendar-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
} */

#colorbtn {
	width: 25px;
	height: 25px;
}