<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/messageLayout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/message/msgDetail.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/message/msgDetail.js}"></script>
</th:block>

<div layout:fragment="content">

	<h1 th:text="${toId} + '님과의 쪽지함'" align="center"></h1>

	<div class="container-fluid">
		<th:block th:each="m : ${mdtos}">
			<div th:attr="class=${m.messageFromNum != userNum ? 'row d-flex justify-content-start' : 'row d-flex justify-content-end'}">
				<div th:attr="class=${m.messageFromNum == userNum ? 'col-6 bg-info' : 'col-6'}">
<!-- 					<p><img id="profile" th:src="${m.profile}" alt="프로필사진" th:if="${m.profile != null}" /></p> -->
					<p th:text="${m.messageFromId}"></p>
					<p th:text="${m.content}"></p>
					<p align="right" th:text="${#temporals.format(m.sendDate, 'yyyy-MM-dd HH:mm')}"></p>				
				</div>
			</div>
		</th:block>
	</div>

<div>
	<form th:align="center" th:action="'../' + ${userNum} + '/' + ${toNum}" th:object="${mdto}" method="post" enctype="multipart/form-data">
		<textarea th:name="content" th:align="center" cols="90%" rows="5" placeholder="최대 2000자" required></textarea>
		<input type="file" th:name="originName">
		<button id="sendMsgBtn" type="submit">전송</button>
	</form>
</div>

	<button th:onclick="deleteMessage([[${userNum}]], [[${toNum}]])" type="button">쪽지함 나가기</button>

</div>
</html>