<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/messageLayout}">
	
<th:block layout:fragment="css">
	<!-- bootstrap-select -->
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css}">

</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/message/msgList.js}"></script>
		<!-- bootstrap-select -->
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js}">
	</script>
</th:block>

<div layout:fragment="content">

	<h1 th:text="${fromId} + '님의 쪽지함'" align="center"></h1>
	<h3 th:align="center">친구들과 1:1로 대화해보세요!</h3>

	<!--/* 검색 영역 */-->
	<div class="input-group" id="adv-search" th:if="msdto">
		<form name="searchForm" id="searchForm" th:object="${msdto}"
			th:method="get"
			th:action="@{|/messagebox/${fromId}/search?type=${type}&keyword=${keyword}|}">
			<select id="type" name="type" class="form-control">
				<option value="">카테고리 선택</option>
				<option value="id">아이디</option>
				<option value="content">내용</option>
			</select> 
			<input type="text" id="keyword" name="keyword" class="form-control" placeholder="키워드를 입력해 주세요." /> 
			<input id="searchBtn" type="submit" class="btn float-right" value="검색">
		</form>
	</div>

	<!--/* 쪽지함 목록 영역 */-->
	<div class="container-fluid" th:align="center">
		<th:block th:if="${mldtos == null}">
			쪽지함이 비었습니다!
		</th:block>
		<th:block th:each="m : ${mldtos}" th:if="${mldtos != null}">
			<div th:attr="class='row'" style="background: #F0D9FF;">
				<div style="cursor: pointer;" class="col-12" 
				th:onclick="'location.href=\''+ @{|/messagebox/${m.messageFromId}/${m.messageToId}|} + '\''">
					<div class="text-left">
						<a th:href="@{'/member/' + ${m.messageToId}}"> 
							<span th:text="${m.messageToId}"></span>
						</a>
					</div>

					<div class="d-flex justify-content-between"
						style="padding-left: 40%;">
						<p>
							<span th:text="${m.recentContent}"></span>
						<p>
							<button
								th:onclick="deleteMessage([[${fromId}]], [[${m.messageToId}]])"
								type="button" style="align: right;">
								<i class="fa fa-trash" aria-hidden="true"></i>&#10062;
							</button>
						</p>
					</div>
				</div>
			</div>
		</th:block>

	</div>

	<!-- 쪽지 보내기 모달창 -->
	<div class="row">
		<div class="col-12">
			<button onclick="openModal()">쪽지 보내기</button>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="messageModal">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title">쪽지 보내기✉️</h1>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form name="msgForm" id="msgForm" th:object="${mdto}" th:method="post">
					<div class="modal-body">
						<div>
							<strong>받는 사람</strong>&nbsp;
							<select class="selectpicker" data-live-search="true" data-hide-disabled="true" th:field="*{messageToId}">
								<th:block th:if="${#lists.size(friendsList) == 0}">
									<option value="">친구를 추가해보세요!</option>
								</th:block>

								<th:block th:unless="${#lists.size(friendsList) == 0}">
									<option th:each="f : ${friendsList}" th:value="${f.id}" th:text="${f.name}"></option>
								</th:block>
							</select>
						<div>
							<label for="message-text" class="col-form-label">쪽지 내용</label>
							<textarea class="form-control" th:field="*{content}" id="content" required></textarea>
						</div>
					</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
						<button type="button" class="btn btn-primary" id="writeBtn">쪽지 보내기</button>
					</div>
					<input type="hidden" id="fromId" th:value="${fromId}" />
				</form>
			</div>
		</div>
	</div>
	
	</div>
</html>