@charset "UTF-8";

@font-face {
	font-family: 'alice';
	src: url('../../font/Cafe24SsurroundAir.ttf') format('truetype');
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'alice';
}

li>a:hover {
	background: #371b58;
}

nav {
	font-weight: bold;
}

ul .nav-item {
	padding: 15px;
}

.nav-texts {
	margin: 0;
}