<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/friendInfoLayout}">

<th:block layout:fragment="css">
	<!-- bootstrap-select -->
	<link rel="stylesheet"
		th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css}">
	<link rel="stylesheet" th:href="@{/css/profile/myProfile.css}" />
</th:block>

<th:block layout:fragment="script">
	<script th:src="@{/js/friends/friendsGroup.js}"></script>
	<!-- bootstrap-select -->
	<script
		th:src="@{https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js}"></script>
</th:block>

<div layout:fragment="content">
	<form th:action="@{|/member/${friend.id}|}" method="post">
		<div class=" overflow-hidden"></div>
		<div
			class="row no-gutters row-bordered row-border-light d-flex justify-content-center">
			<div class="col-7 pt-2">
				<div class="tab-content">
					<div class="tab-pane fade active show" id="account-general">

						<div class="row w-100">
							<div
								class="col-5 d-flex justify-content-center align-items-center">
								<img class="w-75"
									th:src="@{/upload/profile/}+@{${friend.profileImg}}" />
							</div>
							<div class="col-7 pr-0">
								<div class="form-group ">
									<label class="form-label">ID</label> <input type="text"
										id="friendId" class="form-control mb-1"
										th:value="${friend.id}" readonly>
								</div>
								<div class="form-group">

									<label class="form-label">이름</label> <input type="text"
										class="form-control" th:value="${friend.name}" readonly>
								</div>
								<div class="form-group">

									<label class="form-label">E-mail</label> <input type="text"
										class="form-control mb-1" th:value="${friend.email}"
										readonly="readonly">
								</div>
							</div>
						</div>
					</div>
				</div>
				<hr class="border-light m-0">

				<div class="form-group">
					<label class="form-label">생년월일</label> <input type="date"
						class="form-control mb-1" th:value="${friend.birth}"
						readonly="readonly">

				</div>
				<div class="form-group">
					<label class="form-label">전화번호</label> <input type="text"
						class="form-control mb-1" th:value="${friend.mobile}"
						readonly="readonly">

				</div>
				<div class="form-group">
					<label class="form-label">MBTI</label> <input type="text"
						class="form-control mb-1" th:value="${friend.mbti}"
						readonly="readonly">

				</div>
				<div class="form-group">
					<label class="form-label">My Wish List</label>
					<th:block th:if="${#strings.isEmpty(wishList)}">
						<input type="text" class="form-control mb-1" value="없음"
							readonly="readonly">
					</th:block>
					<div>
						<div th:unless="${#strings.isEmpty(wishList)}"
							class="d-inline p-2 mr-1"
							style="border-radius: 5px; background: #e1b9ed;"
							th:each="wish : ${wishList}"
							th:if="${#strings.length(wish) != 0}">
							<a class="text-white"
								th:href="|https://search.shopping.naver.com/search/all?query=${wish}|">#<span
								th:text="${wish}"></span></a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</form>

	<!-- Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="changeGroup">
		<div class="modal-dialog modal-dialog-centered"
			role="document">
			<div class="modal-content">
				<div class="modal-header" style="align-items: baseline;">
					<h1 class="modal-title">그룹 변경</h1>
					&nbsp;
					<button type="button" class="close" data-ismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/friends/changeGroup}" th:object="${friendsDto}"
					method="post">
					<div class="modal-body d-flex justify-content-center">
						<div>
							그룹 선택 <select id="optionGroup"
								th:field="*{groupNum}" style="background: darkgray;"
								class="selectpicker" data-live-search="true">
								<option value="none">====그룹 선택====</option>
								<option th:each="fg :${myFriendGroup}" th:value="${fg.num}"
									th:text="${fg.groupName}">
							</select>
						</div>
						<div>
							<input type="hidden" name="addeeNum" th:value="${friend.num}">
						</div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btn btn-dark" value="그룹 변경">
					</div>
					<input type="hidden" id="checkSearch" value="false">
				</form>
			</div>
		</div>
	</div>
</div>
</html>