<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layouts/friendsLayout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/friends/friendsList.js}"></script>
</th:block>

<div layout:fragment="content">
	<input type="text" id="searchFriend" name="searchFriend"
		placeholder="친구 검색(아이디/이름)">
	<button type="button" class="btn btn-primary mb-2"
		th:onclick="loadFriends()">검색</button>

	<table border="1" id="friendsTable">
		<thead>
			<tr>
				<td>NO</td>
				<td>ID</td>
				<td>이름</td>
				<td>전화번호</td>
				<td>생년월일</td>
				<td>성별</td>
				<td>이메일</td>
				<td>그룹</td>
			</tr>
		</thead>
		<tbody id="friendsBody">
			<tr th:each="friend, status : ${friendList}">
				<td th:text="${status.count}"></td>
				<td th:text="${friend.id}"></td>
				<td><a th:text="${friend.name}"
					th:href="@{/friends/friendInfo/{id}(id=${friend.id})}"></a></td>
				<td th:text="${friend.mobile}"></td>
				<td th:text="${friend.birth}"></td>
				<td th:text="${friend.gender}"></td>
				<td th:text="${friend.email}"></td>
				<td th:text="${friend.groupName}"></td>
			</tr>
		</tbody>
	</table>


	<!-- Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="addFriend">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header" style="align-items: baseline;">
					<h1 class="modal-title">친구 추가</h1>
					<span>ID로 추가</span>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<form th:action="@{/friends/add}" method="post">
					<div class="modal-body">
						<div>
							ID <input type="text" id="searchId" name="searchId"> <input
								type="button" class="btn" value="검색" onclick="loadMembers()">
						</div>
						<div id="memberInfo"></div>
					</div>
					<div class="modal-footer">
						<input type="submit" class="btnbtn-dark" value="친구 추가"
						onclick="addOk()">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</html>